<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cписок заказов</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<div class="back"></div>
<nav>
    <a href="/orders/createOrder">Новый заказ</a>
    <a href="/orders"><img src="/img/login.png"/>Выйти</a>
</nav>
<body>
<header>
    <h1>Еда</h1>
</header>
<main>
    <table>
        <thead>
        <tr>
            <th> Номер заказа</th>
            <th> Номер клиента </th>
            <th> Статус </th>
            <th> Сумма </th>
            <th>       </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${orders.empty}">
            <td colspan="2"> Список заказов пуст. </td>
        </tr>
        <tr th:each="orders : ${orders}">
            <td><span th:text="${orders.id}"> Title </span></td>
            <td><span th:text="${orders.customer.phone}"> Title </span></td>
            <td><span th:text="${orders.status.description}"> Author </span></td>
            <td><span th:text="${orders.orderSum}"> Title </span></td>
            <td><form th:action="@{{id}(id=${orders.id})}"><input type = "submit" value = "Детали заказа" /></form></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
